body{
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stock{
    border: thin solid red;
    width: 100px;
    padding: 5px;
    margin: 5px;
    background-color: white;
    color: black;
}

.menu{
    display: flex;

}